* {
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
	box-sizing: border-box;
  }
  
  /* For hiding scrollbar in Firefox without impacting scrolling function */
  html {
	scrollbar-width: none;
  }
  
  body {
	background-color: #7a1f10;
	color: #f9f8f2;
	padding: 0px;
	/* For hiding scrollbar in Edge and Explorer without impacting scrolling function */
	-ms-overflow-style: none;
  }
  
  /* For hiding scrollbar in Chrome, Safari, Opera and other webkit browsers, without impacting scrolling function */
  body::-webkit-scrollbar {
	display: none;
  }
  
#content {
	max-width: 90%;
	margin: 0 auto;
	padding-bottom: 20px;
}

#content.BodyImage-caption {
	font-size: 1em;	
	color: white;
}

input[name="inputLon"], select[name="fack"] {
	/* line-height: 1em; */
	font-size: 1.3em;
}

  select, form,label, input {
	display: inline;
  }

  select {
	line-height: 2;
  }

  input[type="range"] {
	display: block;
	cursor: pointer;
	margin-top: 30px;
  }

  .boxwidth {
	width: 100%;
  }

  input[type="checkbox"] {
	transform: scale(2);
    margin: 10px;
	cursor: pointer;
  }

  .slider {
	position: relative;
	width: 100%;
  }

  #daysSlider {
	height: 20px;
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	width: 100%;
	position: relative;

  }

  #daysSlider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 35px;
	height: 35px;
	background: #ee492e;
	cursor: pointer;
	border-radius: 3%;
	margin-top: -4px;
  }

  #daysSlider::-moz-range-thumb {
	width: 35px;
	height: 35px;
	background: #ee492e;
	cursor: pointer;
	border-radius: 3%;
	border: none;
	margin-top: -4px;
  }

  #daysSlider::-webkit-slider-runnable-track {
	width: 100%;
	height: 25px;
	background: #ddd;
	border-radius: 5px;
  }

  #daysSlider::-moz-range-track {
	width: 100%;
	height: 30px;
	background: #ddd;
	border-radius: 5px;
  }

  /* select label for daysSlider */
  label[for="daysSlider"] {
	font-size: 1.2em;
	position: absolute;
	white-space: nowrap;
	transition: left 0.15s ease;
	/* top: -2px; */
	/* background-color: white; */
	/* color: black;
	padding: 2px 5px; */

  }
	

  .ticks{
  position: relative;
  /* left: 0; right: 0; */
  top: 10px;            
  height: 28px;
}

.tick{
  position: absolute;
  width: 2px;
  height: 10px;
  background: white;
  transform: translateX(-50%);
  cursor: pointer;
}

.tick__label{
  position: absolute;
  top: 15px;
  /* left: 50%; */
  transform: translateX(-50%);
  font-size: 16px;
  color: white;
  white-space: nowrap;
  font-weight: normal;
}

.tick__label--insurance {
  /* Your custom styles for insurance period markers */
  /* color: blue; */
  font-weight: bold;
}

.tick__label--insurance::before {
  /* background-color: blue; */
  font-weight: bold;
}

p#dagarinfo {
	font-size: 0.7em;
	margin-top: 25px;
	margin-bottom: 15px;
}

  .rubrik {padding-top: 20px;}

  /* #inputYear {
	width: 4em;
  } */

  .flexcontainer {
	display: flex;
	justify-content: space-between;
	align-content: stretch;
	flex: 0 1 auto;
	/* border-radius: 4%; */
	padding: 7px;
  }

  /* .flexcontainerInner {
	display: flex;
	flex-direction: column;
	width: 50%;
  } */

  .center {
	display: flex;
	justify-content: center;
  }

  .stunning {
	background-color: #ee492e;
	padding: 10px;
	width: 100%;
	margin: 20px 0px 20px 0px;
  }

  .stunningText {
	font-size: 2em;
  }

  /* button#calculate {
	color: red;
	margin: 20px;
	padding: 3px;
  } */

  #forklaringRubrik {
	font-size: 0.9em;
  }

  #forklaring {
	position: fixed;
	bottom: -100%;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	max-width: 600px;
	background-color: #f9f8f2;
	color: black;
	opacity: 0.95;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.3);
	transition: bottom 0.4s ease-out;
	z-index: 1000;
  }

  #forklaring.show {
	bottom: 40px;
  }

  @keyframes slideUp {
	from {
	  bottom: -100%;
	}
	to {
	  bottom: 40px;
	}
  }

  @media only screen and (max-width: 570px) {
	.flexcontainer {
		flex-direction: column;
	}
	.flexcontainerInner {
		width: 100%;
	}
}