* {
    padding: 0px;
    margin: 0px;
  }
  
  body {
    font-family: sans-serif;
    position: relative;
    /* width: 400px;
    max-width: 100vw; */
    background-color: #fcfaf5;
    height: 400px;
    /* overflow: scroll; */

  }
 
  
  #content {
    position: relative;
    margin: 0 auto;
    width: 700px;
    height: 1000px;
    /* background-color: #C1F0F6; */
    /* max-width: 100vw; */
    padding: 10px;
    overflow: auto;
  }
  
  svg {
    font: 10px helvetica;
    shape-rendering: crispEdges;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #c1c1c1;
  }

  rect {
    border: none;
  }

.fillrect {
  /* fill: #da4042; */
  /* fill: #dd5354; */
  fill: #e16667;
}