

body {
  font: 12px sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #f5f7f7;
  /* width: 600px; */
}

#knapp {
  position: relative;
  /* margin-top: 100%; */
  margin-left: 20%;
  z-index: 10;
  visibility: hidden;
}

#knapp2 {
  position: relative;
  /* margin-top: 100%; */
  margin-left: 10%;
  z-index: 10;
  visibility: hidden;
}

#rubbe {
  opacity: 0;
  font-size: 3em;
}

path {
  stroke-width: 0.3px;
  stroke: white;
  cursor: pointer;
}

path:hover, path.highlighted {
}

svg {
  position: relative;
  width: 100%;
  height: auto;
}

div.tooltip {
  position: absolute;
  text-align: left;
  padding: 4px;
  background: #fff;
  border: 0px;
  pointer-events: none;
}
