
  
body {
  background-color: #f5f7f7;
  height: 1500px;
  }

h1.u-textMetaDeca {
  font-size: 30px;
}

.scene {
  margin: 40px 0;
  perspective: 600px;
  width: 100%;
}

.card {
  /* transparent border since padding doesn't seem to work with a background image that covers */
  border: 10px solid transparent;
  cursor: pointer;
  display: inline-block;
  height: 300px;
  max-width: 300px;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  width: 100%;  
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
}

span.underline {
  background-color: rgba(116, 178, 178, 0.8);
  background-color: #64a9a9;
  color: white;
  display: block;
  font-size: 24px;
  font-weight: 200;
  text-align: center;
  width: 300px;
}

.card__face--front {
  background-position: center top;
  background-size: cover;
}

.card__face--back {
  background: #e3e5e5;
  transform: rotateY(180deg);
 }

.card__face--back p {
padding: 10px;
}

.card__face--back h2 {
  padding: 10px 10px 0px 10px;
  }

img.graf {
  height: 80%;
}

span.byline {
  bottom: 0px;
  color: white;
  position: absolute;
  right: 8px;
  z-index: 4;
}

.hidden {
  display: none;
}

.card-img {
  /* Funny height that adds upp like this: div .back-img 273px + span .underline 27px = 300px which is the height of div .card. Makes front and back of card same height */
  height: 290px;
  opacity: 0.6;
 /* take away pointer events, otherwise img will be event target instead av link elements */
  pointer-events: none;
   /* Image smaller than container to make container crop image */
   width: 320px;
}  

/* Container smaller than image to crop the blurred edges */
.card-img-container {
  height: 273px;
  /* hide overflow to crop image */
  overflow: hidden;
  width: 300px;
}
© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
