body {
  background-color: #f5f7f7;
  height: 450px;
}

/* #box {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: green;
  animation-name: test;
  animation-duration: 4s;
  top: 10px;
}

@keyframes test {
  from {background-color: green;}
  to {background-color: yellow;}
  from {top: 10px;}
  to {top: 100px;}
} */

.flexcontainer {
  display: flex;
}

.flexitem {
  flex-grow: 1;
}

#container {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
  background: #f5f7f7;
  box-shadow:  inset 0px 11px 8px -10px #CCC,
        inset 0px -11px 8px -10px #CCC;

}
#animate {
  position: absolute;
  /* bottom: -400px; */
}

.animate-content {
  width: 200px;
  height: 100px;
  background: white;
  margin-bottom: 10px;
  padding: 5px;
  box-shadow: 2px 2px #c0c0c0;
}

#animate .fet {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.2em;
}

#animate .red {
  color: #e00f00;
  font-weight: bold;
  line-height: 1em;
}


/* Stuff for the map */
path {
  stroke-width: 1px;
  stroke: #4682b4;
  fill: steelblue;
  cursor: pointer;
}

path:hover, path.highlighted {
  fill: #4682b4;
}

div.tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  color: black;
  font-weight: bold;
  padding: 4px 8px;
  display: none;
}
