
/* för brandmannalönerna */

#brandlogga img {
  position: absolute;
  top: 150px;
  width: 140px;
  pointer-events: none;
}

#brandlondiv {
  display: none;
}

table.brandtabellstil {
  width: auto;
  text-align: left;
}

#brandtabell {
  width: 100%;
  overflow-x: auto;
  padding-bottom: 20px;
}

#brandtabelldiv {
  overflow: auto;
  position: relative;
}

table.brandtabellstil thead {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

table.brandtabellstil thead td {
  background-color: #a9aaaa;
  color: white;
  font-size: 1.4em;
  line-height: 28px;
  position: sticky;
  -webkit-position: sticky;
  text-transform: uppercase;
  top: 0;
  vertical-align: text-top;
}

table.brandtabellstil thead td:hover {
  background-color: #878888;
}

table.brandtabellstil th {
  vertical-align: text-top;
  font-size: 1.4em;
  text-transform: uppercase;
  line-height: 26px;
  background-color: #a9aaaa;
  color: white;
  overflow: auto;
}

table.brandtabellstil td {
  vertical-align: text-top;
  font-size: 1.3em;
  padding: 0 0px 0 5px;
  line-height: 28px;
  overflow: auto;
}

#brandkartdiv {
  height: 670px;
  position: relative;
}

#brandkartpopup {
  display: none;
  width: 50%;
  width: 300px;
  border-radius: 10px;
  padding: 5px;
  float: right;
  background-color: white;
  opacity: 0.9;
  border: 1px solid gray;
  position: absolute;
  left: 30px;
  top: 80px;
  z-index: 10;
}

#brandkartpopup p {
  padding: 0px 10px 0px 10px;
}

#popuptext h3 {
  text-transform: uppercase;
  font-size: 18px;
  padding: 0 5px 0 5px;
  font-weight: 700;
}

#tabellpopup {
  display: none;
  width: 50%;
  min-width: 250px;
  max-width: 450px;
  float: right;
  background-color: white;
  opacity: 0.9;
  border: 1px solid gray;
  position: absolute;
  left: 20%;
  top: 80px;
  z-index: 10;
  padding-top: 10px;
}

#tabellpopuptext {
  padding: 10px;
}

span.pil {
  color: grey;
  text-shadow: grey;
  font-size: 1em;
}

p.tabellkommuner {
  font-style: italic;
  font-size: 0.9em;
}

p.invisible {
  display: none;
}

text.legend {
  font-size: 0.6em;
}

p .nomargin {
  margin: 0;
}


