
body {
  background-color: #fcfaf5;
  max-width: 621px;
  box-sizing: border-box;
}


h1.marginBottom {
  text-transform: uppercase;
  margin-bottom: 15px;
}

select#valjar {
width: 100%;
font-size: 1em;
margin-bottom: 10px;
-webkit-appearance: none;
appearance: none;
-moz-appearance: none;
/* background-image: url("pil.svg"); */
background-size: 16px;
  background-position: calc(100% - 20px) center;
  background-repeat: no-repeat;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.result {
  /* box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #61a2a2; */

  box-shadow: inset 0 0 10px #cfaf5e;
    /* box-shadow: inset 0 0 10px #e1cd9a; */
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;

}

h2 {
  white-space: nowrap;
}

.result p {
 font-size: 10em;
  font-weight: bold;
  text-align: center;
  color: #4d4e4f;
}

div.result {
  min-width: 220px;
  max-width: 45%;
  flex-basis: 0;
  flex-grow: 1;
}

@media only screen and (max-width: 480px) {
  select#valjar {
    width: 240px;
  }

}
