* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: sans-serif;
  position: fixed;
  /* width: 400px;
  max-width: 100vw; */
  background-color: #dcebe5;
}


#content {
  /* background-color: #C1F0F6; */
  box-sizing: border-box;
  /* width: 100%; */
  width: 400px;
  padding: 10px;
}

/* div#content p {
  width: 70%;
} */

img {
  height: 260px;
  width: auto;
  /* width: 104px;
  height: auto; */
  right: 10%;
  position: absolute;
  top: 5px;
  /* vertical-align: top; */
  /* float: left; */
  /* display: block; */
}

table {
  margin-top: -5px;
  border: 1px solid;
  border-collapse: collapse;
}

th {
  background-color: #53868B;
  color: white;
  text-align: left;
  padding: 3px;
}

td {
  /* font-size: 0.8em; */
  padding: 3px 5px 3px 3px;
  border: 1px solid;

}

tr:nth-child(odd) {
  /* background-color:#fcfaf5; */
}

/* div#forutsattningar p {
  /* font-size: 0.8em; */
  /* margin-top: 5px;
  padding-left: 3px; */
  /* font-style: italic; */
/* } */ 


div.rutdiv {
  /* width: 180px; */
  /* position: absolute; */
  /* display: block; */
  /* margin-right: 30px; */
  /* margin-left: 130px; */
  /* vertical-align: top; */
  /* margin-right: 40px; */
}

div.rutdiv input {
  /* font-weight: 900; */
  /* width: 50%; */
  margin: 0 auto;
  text-align: center;
}

div.rutdiv p {
  /* font-weight: 800; */
  /* width: 50%; */
  text-align: center;
  margin: auto;
}


/* span.flyter {
  float: left;
  font-size: 0.9em;
  margin-right: 10px;
  position: relative;
  width: 50%;
  margin: 0 auto;
} */



/* div.rutdiv input {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
} */


div#kommentar p {
  width: 100%;
  /* font-size: 0.9em; */
  width: 100%;
}

div#kommentar {
    margin: 15px 0px 15px 0px;
}


#forutsattningar {
  display: none;
}

#slidecontainer {
    width: 380px; /* Width of the outside container */
    max-width: 90%;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 10px;
}

/* The slider itself */
.slider {
  appearance: none;
    -webkit-appearance: none;  /* Override default CSS styles*/
    margin-left: 0px;
    width: 300px; /* Full-width */
    height: 30px; /* Specified height */
    padding: 0px 3px 0px 3px;
    background: #FDFDFD;
    box-shadow: 2px 2px 5px;
    /*outline: none; /* Remove outline */
    /* opacity: 0.7; */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
/* .slider:hover {
    opacity: 1;
} */

/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 5px;
    background: #da4042; 
    cursor: pointer; /* Cursor on hover */
}



.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #da4042; 
    cursor: pointer; /* Cursor on hover */
}


/* Output result in bubble that follows Slider */
output {
  position: absolute;
  background-color: #da4042;
  /* border-style: solid; */
  /* border-color: white; */
  /* border-width: 1px; */
  /* width: 40px;
  height: 30px; */
  text-align: center;
  color: white;
  border-radius: 10px;
  display: inline-block;
  padding: 6px;
  /* font: bold 15px/30px Arial; */
  bottom: 140%;
  left: 0;
}

/* This pseudo elements makes an arrow-tip of the bubble */
output:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #da4042;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}


form {
  position: relative;
  }

#semer {
  display: block;
  margin: auto;
}


/* for the bar chart */

.axis {
  font-size: 16px;;
}

.axisfat {
  font-size: 16px;
  font-weight: 800;
}

.label {
  font-size: 20px;
}

/* #diagramdiv {
  width: 200px;
  margin: 0 auto;
} */

#popup {
  display: none;
  /* width: 350px; */
  width: 90%;

  /* min-width: 250px; */
  max-width: 450px;
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
  float: right;
  background-color: white;
  opacity: 0.9;
  border: 1px solid gray;
  position: absolute;
  left: 5%;
  top: 80px;
  z-index: 10;
}

#popup h2 {
  padding-top: 10px;;

}

img.closex:hover {
  background-color: #ddebeb;
}

img.closex {
  width: 30px;
  height: 30px;
}

div.close {
  float: right;
  position: absolute;
  top: 5px;
  right: 5px;
  width: fit-content;
  height: fit-content;
}

/* @media screen and (min-width: 500px) {
  #content {
    position: relative;
    width: 50%;
    margin: 0 auto;
  }
} */