body {
  background-color: #f5f7f7;
  /* height: 100%;
  position: relative; */
}

.lasdiv {
  background-color: white;
  margin-top: 21px;
  margin-bottom: 21px;
  padding: 14px;
  position: relative;
  max-height: 120px;
  overflow: hidden;
}

.lasdiv .read-more {
  font-size: 2em;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 10px 0;

   background-image: linear-gradient(to bottom, transparent, white);
}

.lasrubrik {
  font-weight: bold;
}

.plus {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5%;
  transform: rotate(45deg);
  margin: 0 auto;
}

.kursiv {
  font-style: italic;
}

strong.bigger {
  font-size: 16px;
}
