
body {
  background-color: #fcfaf5;
  height: 850px;
  width: 500px;
  -ms-overflow-style: none;
  }

/* For hiding scrollbar in Chrome, Safari, Opera and other webkit browsers, without impacting scrolling function */
body::-webkit-scrollbar {
  display: none;
}



#radiobuttons {
  position: absolute;
  /* float: left; */
  /* width: 140px; */
  top: 200px;
  /* left: 30px; */
  /* border-radius: 10px;
  border: 1px solid black; */
  /* background-color: #fcfaf5; */
  /* background-color: rgba(252, 250, 245, 0.5); */
  
  /* padding: 10px; */
  z-index: 10;
  line-height: 5%;
}

form.kategori {
  margin: -5px;
  padding: 0px;
}

input[type=radio] {
  opacity: 0;
  width: 0px;
  padding-left: -20px;
}

label {
  display: inline-block;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 3px;
  color: white;
  font-size: large;
  font-weight: 600;
  line-height: 90%;
  /* background-color: #ddebeb; */
  /* box-shadow:#7e7f7f 3px 3px 0,
              #7e7f7f 1px 1px 0,
              #7e7f7f 2px 2px 0; */
}

label:hover {
  background-color: gray;
}


.blue {
 fill: #3D82C4;
 background-color: #3D82C4;
}

.pink {
  fill: #D81B61; 
  background-color: #D81B61; 

}

.orange {
  fill: #fec111;
  background-color: #fec111;
}

.darkgreen {
  fill: #014D41;
  background-color: #014D41;
}

.turkos {
  fill: #2CBDBD;
  background-color: #2CBDBD;
}

.white {
  fill: #FFFFFF;
  background-color: #FFFFFF;
}

.lila {
  fill: #993399;
  background-color: #993399;
}

.green {
  fill: #00b200;
  background-color: #00b200;
}

.red {
  fill: red;
  background-color: red;
}

.inactive {
  opacity: 0.2;
  pointer-events: none;
}



svg {
  position: absolute;
  width: 500px;
  /* right: 3px; */
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 1));
  -webkit-filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 1));
}

#kartpopup {
  display: none;
  width: 300px;
  /* min-width: 250px; */
  max-width: 350px;
  padding: 5px;
  background-color: white;
  opacity: 0.9;
  border: 1px solid gray;
  position: absolute;
  /* position: fixed;
  left: 50%;
  transform: translate(-50%, 50%); */
  z-index: 30;
  box-shadow: 3px 3px 3px   #707070;
}
#kartpopup .fet {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.2em;
  color: #111;
}

#kartpopup .link {
  color: #e00f00;
  font-weight: bold;
  line-height: 1em;
  text-transform: uppercase;
}


circle.cirkel:hover {
    fill: white;
}



img.closex:hover {
  background-color: #ddebeb;
}

img.closex {
  width: 20px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(245,247,247,0.8); /* Black background with opacity */
    z-index: 20; /* Specify a stack order in case you're using a different order for other elements */
    /* cursor: not-allowed; */
    /* pointer-events: none; */
}



div.tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  color: black;
  font-weight: bold;
  padding: 4px 8px;
  display: none;
  font-weight: normal;
}

#loadercontainer{
  position: absolute;
  /* top: 370px;
  left: 350px; */
  width: 120px;
  z-index: 10;
}
.loader { 
  box-sizing: border-box;

  border: 40px solid #f3f3f3;
  border-top: 40px solid #3D82C4;
  border-right: 40px solid #D81B61;
  border-bottom: 40px solid #014D41;
  border-left: 40px solid #fec111;

  border-radius: 50px;
  width: 40px;
  height: 40px;
}

.spin {
  animation: spin 4s cubic-bezier(0.4, 0, 0.2, 1) 1;
}


@keyframes spin {
  0% { transform: rotate(0deg); } /* Start position */
  50% { transform: rotate(1080deg); } /* 3 rotations at an even pace */
  100% { transform: rotate(1080deg); } /* End position */
}

@media only screen and (max-width: 500px) {

  svg {
    width: 375px;   
  }

  #radiobuttons {

    top: 200px;
    /* width: 110px; */
    /* width: 40px; */
    /* padding: 10px; */
    z-index: 10;
    line-height: 5%;
  }
  
  input[type=radio] {
    /* opacity: 0;
    width: 0px; */
    padding-left: -20px;
  }
  
  label {
    display: inline-block;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    font-size:medium;
    font-weight: 500;
    line-height: 80%;
    /* color: white;
    background-color: #ddebeb;
    box-shadow:#7e7f7f 3px 3px 0,
                #7e7f7f 1px 1px 0,
                #7e7f7f 2px 2px 0; */
  }

  #loadercontainer{
    /* position: absolute;
    top: 430px;
    left: 0px;
    width: 120px; */
  }
  
 


}
