
body {
  background-color: #faf9f7;
  height: 850px;
  /* width: 1000px; */
  width: 100%;
  -ms-overflow-style: none;
  }

/* For hiding scrollbar in Chrome, Safari, Opera and other webkit browsers, without impacting scrolling function */
body::-webkit-scrollbar {
  display: none;
}

/* For hiding scrollbar in Firefox */   
html {
  scrollbar-width: none; /* Firefox */
}

.canva-embed-container {
  position: relative;
  width: 100%;
  padding-bottom: 75%; /* Anpassa efter Canva-grafikens faktiska förhållande */
  height: 0;
  overflow: hidden;
}

.canva-embed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
