
* {
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: url('julbild.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  background-color: #fcfaf5;
  -ms-overflow-style: none;
  height: 700px;
}


/* For hiding scrollbar in Chrome, Safari, Opera and other webkit browsers, without impacting scrolling function */
body::-webkit-scrollbar {
  display: none;
}

#content {
  position: relative;
  /* width: 100%;
  height: 30px; */
  /* background-image: url('winter-6890764.jpg'); */
}

/* #logspan {
  position: absolute;
  top: 30px;
  right: 10px;
} */

.logo {
  width: 20%;
  float: right;
  padding-bottom: 10px;
}

iframe.luckbild, img.luckbild {
  /* width: 60%; */
  padding-bottom: 10px;
}

div.dagenscontainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.basecontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* row-gap: 100px;
  column-gap: 100px; */
}

div.lucka {
  /* width: 100px;
  height: 100px; */
  flex-basis: calc(25% - 15px); /* Set initial flex-basis for 4 items in a row (with a 10px margin) */
  margin: 7.5px; /* Add margin between items */
  text-align: center;
  vertical-align: middle;
  font-weight: 900;
  font-size: 30px;
  /* flex-grow: 1; */
  background-color: white;
  opacity: 0.5;
  border: 1px solid black;
  border-style: solid solid solid dashed;
}

.centered-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px; /* Set the desired height of the div */
}

.lucka_content {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 2vh;
  left: 5%;
  background-color: #faebd7;
  visibility: hidden;
  border-width: 10px;
  border-color: #d42426;
  
  border-style: dotted;
  border-image: initial;
  /* border-left-style: inset; */
}

.closex {
  width: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
}

span.bokstav {
  color: #d42426;
  position: absolute;
  bottom: 10px;
  right: 10px;

}

.dagens-flex {
  flex: 1;
}

@media screen and (max-width: 450px) {

  
  /* div.lucka {
    width: 50px;
    height: 50px;
    font-size: 20px;

  } */

  /* .centered-text {
    height: 50px;
  } */

  /* .basecontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 50px;
  } */
}

@media screen and (min-width: 600px) {

  body {
    height: 440px;
  }

  div.lucka {
    /* background-color: #d42426; */
    flex-basis: calc(16.666% - 15px); /* Adjust flex-basis for 6 items in a row (with a 10px margin) */
  }

  div.dagenscontainer {
     flex-direction: row; 
  }

  iframe.luckbild, img.luckbild {
    padding-right: 10px;  }
}