* { box-sizing: border-box; }

body {
  background-color: #fcfaf5;
  width: 100%;
}

#fixit {
  position: fixed;
  display: block;
  top: 0px;
  left: 16.67%;
  width: 100%;
  max-width: 948px;
  max-height: 70px;
  z-index: 10;
}

/* #helgbild {
position: fixed;
} */


.passive {
  color: #c8c8c8;
}

/* .hscrollbutton.passive {
  font-weight: normal;
} */


.paddingBottom10 {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/* .paddingTop10 {
  padding-top: 10px;
} */


/* .bluer {
  background-color: #ddebeb;
} */

.red {
  background-color: #e00f00;
}

.modefield {
  display: inline-block;
  padding: 4px;
}

.modebutton:hover, .modebutton:active {
  color: white;
  cursor: pointer;
}
.hscrollbutton {
  padding-right: 10px;
  font-weight: bold;
}


#mainContent {
  position: relative;
  top: 50px;
  /* background-size: 100%;
  background-repeat: no-repeat; */
  margin-left: 16.67%;
  max-width: 948px;
  width: 100%;
  /* min-height: 800px; */
}

.full-height {
  height: 90vh; /* 100% of the viewport height */
}


#header {
  position: relative;
  width: 100%;
  background-attachment: fixed;
  background-position: 0px 50px;
  color: white;
  /* position: fixed; */
}

.helg-wrapper {
  display: inline-block;
  padding-bottom: 10px;
  background-color: #f5f7f7;
  width: 100%;
}

/* .helgknappar {
  border-radius: 5px;
  margin: 5px 2px 5px 2px;
  box-shadow: 2px 2px 3px #a9aaaa;
} */

/* .helgknappar:hover {
  background-color: #adcfcf;
} */



/* .card {
    flex: 0 0 auto;
} */

#modefieldRight {
  position: absolute;
  right: 4px;
}

#sokYrkeWrapper {
  display: block;
}

#allaAvtalWrapper {
  display: none;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

/* input.pengar {
  width: 150px;
  font-size: 16px;
} */

input.yrkeInput {
  width: 100%;
  font-size: 16px;
}

#bottom {
  position: relative;
  width: inherit;
  bottom: 0px;
  margin-left: 16.67%;
  max-width: 948px;
  background-color: #dcebe5;
  padding: 3px;
  float: left;
}


#messagediv {
  margin-bottom: 50px;
  padding-bottom: 50px;
}

#messagediv h3 {
  font-weight: bold;
}

#allaAvtalWrapper h3 {
  font-weight: bold;
}

h3 {
  padding-top: 20px;
}



.lessPadding {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}


.caps {
  text-transform: uppercase;
}

.homestyled {
  background-color: #e00f00;
  padding: 10px;
  color: white;
}




/* Här är allt för autocomplete */
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  padding: 8px;
  font-size: 16px;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
  /* background-color: #048676 !important; */

}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  /* background-color: DodgerBlue !important; */
  background-color: #048676 !important;
  /* background-color: #e9e9e9; */

  color: #ffffff;
}


.bold {
  font-weight: bold;
}

@media only screen and (max-width: 1150px) {
  body {
    margin: 0 auto;
  }
  #fixit {
    margin: 0 auto;
    left: 0px;
    height: 70px;
  }

  #mainContent {
    margin: 0;
    /* min-height: 600px; */
  }

  #bottom {
    margin: 0;
  }
}
