
* {
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  /* font: 12px sans-serif; */
  padding: 0px;
  background-color: #fcfaf5;
  /* hyphens: auto; */
}



div#header h1 {
  display: block;
}


h3 {
  text-transform: uppercase;
  font-size: 1.3em;
  padding: 0 5px 0 5px;
}

h4 {
  padding: 0px 0px 0px 0px;
  margin: 0px;
  font-size: 1.4em;
}

/* #selectOverlay {
  width: 740px;
  margin-top: 20px;
  pointer-events: none;
  height: 40px;
  background-color: red;
  position: absolute;
  z-index: 10;
  opacity: 0.2;
} */

select#valjyrke {
  width: 740px;
  margin-top: 20px;
  /* pointer-events: auto; */
  font-size: 1em;
  z-index: 4;
  position: relative;
  letter-spacing: 0px;
}



div#header {
  padding-bottom: 20px;
}

path {
  stroke-width: 1px;
  stroke: white;
  /* fill: steelblue; */
  fill: #74b2b2;
  cursor: pointer;
}

path:hover, path.highlighted {
  fill: #a9aaaa;
}

div.tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 4px 8px;
  display: none;
}

button:active {
  background-color: black;
}

table.tabellstil {
  width: auto;
  text-align: left;
}

label {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1.4em;
}

.aboveOverlay {
  position: relative;
  z-index: 3;
}



#overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default*/
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: not-allowed;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(0,0,0,0.4); /* Black background with opacity */ */

    /* pointer-events: none; */
}

.blacknollfyra {
  background-color: rgba(0,0,0,0.4); /* Black background with opacity */
}


#blinkcontainer h1 {
  position: relative;
  top: 10px;
  text-align: center;
  font-size: 18px;
}

#blinkcontainer {
  position: absolute; /* Sit on top of the page content */
  display: block; /* Hidden by default
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(0,0,0,0.4); /* Black background with opacity */ */
  z-index: 3; /* Specify a stack order in case you're using a different order for other elements */

}

.sign {
  position: fixed;
  width: 100px;
  height: 100px;
  /* margin: 0 auto; */
  background-color: #ffef58;;
  position: relative;
  top: 50px;
  /* margin: 0 auto; */
  left: 200px;
  border-radius: 50%;
  z-index: 5;
  padding: 10px;
}

.blink {
        animation: blink-animation 1.2s steps(5, start) infinite;
        -webkit-animation: blink-animation 1.2s steps(5, start) infinite;
      }
      @keyframes blink-animation {
        to {
          visibility: hidden;
        }
      }
      @-webkit-keyframes blink-animation {
        to {
          visibility: hidden;
        }
      }

#jamforyrkediv {
  background-color: #e3e5e5;
  min-height: 600px;
  max-height: 650px;
  border-radius: 25px;
  padding-right: 5px;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-right: 0px;
}



#valjlandsting {
  display: none;
}

.valjLandstingKommun {
  margin-bottom: 10px;
}

#mintabell {
  width: 100%;
  overflow-x: auto;
  padding-bottom: 20px;
}

#mintabelldiv {
  /* max-height: 225px; */
  overflow: auto;
  position: relative;
}


input {
  display: inline-block;
}

table.tabellstil thead {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

table.tabellstil thead td {
  vertical-align: text-top;
  padding: 5px 0px 0px 5px;
  font-size: 1.4em;
  text-transform: uppercase;
  line-height: 28px;
  background-color: #a9aaaa;
  color: white;
  /* overflow: auto; */
  position: sticky;
  -webkit-position: sticky;
  top: 0;
}

table.tabellstil th {
  vertical-align: text-top;
  padding: 5px 0px 0px 5px;
  font-size: 1.4em;
  text-transform: uppercase;
  line-height: 26px;
  background-color: #a9aaaa;
  color: white;
  overflow: auto;
  /* position: fixed; */
  /* top: 0; */
}

table.tabellstil td {
  vertical-align: text-top;
  font-size: 1.3em;
  padding: 0 0px 0 5px;
  line-height: 28px;
  overflow: auto;
}

table.karttabell {
  width: 100%;
  text-align: left;
  line-height: 25px;
}

table.karttabell td {
  font-size: 1.3em;
}

.karttabell td {
  white-space: normal;
  font-size:0.8em;
  padding: 0 5px 0 5px;
  line-height: 25px;
  color: black;
}

tr:nth-child(odd) {
  background-color: #ddebeb;
}

.bubbla:hover {
  background-color: grey;
}

.bubblatext {
    line-height: 22px;
    font-weight: normal;
    width: 130px;
    background-color: #ffeb76;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    text-align: left;
    position: absolute;
    display: none;
    left: 30px;
    padding: 10px;
    z-index: 10;
}

.semitransparent {
  opacity: 0.3;
}

#lansdiv {
  position: relative;
}

#kartpopup {
  display: none;
  width: 50%;
  min-width: 250px;
  max-width: 450px;
  float: right;
  background-color: white;
  opacity: 0.9;
  border: 1px solid gray;
  position: absolute;
  left: 20%;
  top: 80px;
  z-index: 10;
}

#kartpopuprubbe {
  width: 90%;
}

#kartpopuprubbe h3 {
  line-height: 1.5em;
}

#kartpopup p {
  padding: 0px 10px 0px 10px;
}

img.closex:hover {
  background-color: #ddebeb;
}

img.closex {
  width: 30px;
}

div.close {
  float: right;
  position: absolute;
  top: 5px;
  right: 5px;
}

#highlowdiv {
  width: 100px;
  /* height: 160px; */
  border-radius: 6px;
  box-shadow: 3px 3px 3px gray;
  padding: 5px;
  background-color: #ffeb76;
  position: absolute;
  top: 370px;
  right: 10px;
  word-wrap: break-word;
  hyphens: auto;
  -webkit-hyphens: auto;
}


.bold {
  font-weight: bolder;
}


.vinjett {
  /* background-image: linear-gradient(#ddebeb, #ddebeb, #f5f7f7 );
  background-image: linear-gradient(#61a2a2, #61a2a2, #f5f7f7 ); */
  background-image: linear-gradient(#6eaaaa, #6eaaaa, #f5f7f7 );
  line-height: 1.5em;
  width: 100%;
  color: white;
  text-transform: uppercase;
  padding-left: 5px;
  font-weight: bold;
  margin-bottom: 5px;
}

.vinjett span {
  display: inline-block;
  vertical-align: top;
  line-height: normal;
  padding: 3px;
}

.knapprad {
  width: 100%;
  padding-bottom: 10px;
  padding-left: 1px;
  padding-top: 10px;
  left: 3px;
  display: inline-block;
  vertical-align: bottom;
}

p.knapptext {
  padding: 0px 3px 0px 3px;
  margin: 0px;
}

#sortknapp button {
  border-radius: 5px 5px;
  border: 2px solid white;
  border: 2px solid #ddebeb;
}

.sortknapp {
  font-size: 1.5em;
  height: 25px;
  padding: 10px;
  margin: 10px;
  background-color: #660000;
  background-color: #f5f7f7;
  color: white;
  color: black;
  padding: 0 5px 0 5px;
  border: 0;
  margin: 5px 5px 0px 5px;
  text-align: left;
}

.sortknapp:hover {
  background-color: #cc0000;
  background-color: #ddebeb;

}

#sortknapp button:first-child:hover {
  background-color: #660000;
}

.mindre {
  font-size: 80%;
}

#content {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
}

.basecontainer {
  width: 360px;
  margin-right: 20px;
  align-items: flex-start;
}

#lonlista {
  margin-right: 30px;
}

.pstor {
  font-size: 1.5em;
}

table {
    width: 360px;
    border-spacing: 0;
}

#searchfield {
font-size: 20px;
}


/* SVG stuff for the bar chart */
.chart rect {
  fill: #ffeb76;
  /* filter: drop-shadow(3px 0px 2px gray);
  -webkit-filter: drop-shadow(3px 0px 2px gray); */
}

.chart text {
  fill: black;
  /* font: 14px sans-serif; */
  text-anchor: end;

}


@media only screen and (max-width: 758px) {
  select#valjyrke {
    width: 360px;
  }
}
