
* {
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  padding: 20px;
  background-color: #fcfaf5;
  /* width: 80vw; */
  /* width: 1200px; */
}

#center {
  width: 600px;
  margin: 0 auto;
}

#header {
  width: 600px;
}


#content {
  display: flex;
  /* width: 1000px; */
  flex-wrap: wrap;
  padding: 0px;
  justify-content: flex-start;
}

#valjkommun {
  margin-bottom: 20px;
  width: 100%;
  padding: 5px;
  /* font-size: 20px; */
}


.basecontainer {
  width: 280px;
  margin-right: 20px;
  /* background-color: white; */
  background-color: #dcebe5;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.fixed-height {
  height: 300px;
}

.basecontainer h2 {
  font-weight: 900;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

.semitransparent {
  opacity: 0.3;
}

/* div.basestil {
  font-size: 3em;
  font-weight: 900;
  text-align: center;
  line-height: 200px;
} */

div.basestil {
  /* font-size: 3em; */
  /* font-weight: 900; */
  text-align: center;
  /* line-height: 200px; */
}

.storfet {
  font-size: 2em;
  font-weight: 600;
}

.stormager {
  font-size: 2em;
  font-weight: normal;
}

hr.rounded {
  border: 0;
  border-top: 6px dotted #da4042;
  /* border-radius: 5px; */
}

div.forklaring {
  width: 600px;
}

@media screen and (max-width: 800px) {

  #center {
    width: 600px;
  }
}


@media screen and (max-width: 679px) {

  #center {
    width: 500px;
  }

  #header {
    width: 320px;
  }

  div.forklaring {
    width: 320px;
  }
}
